*{
    margin:o;
    padding:0;
    box-sizing: border-box;
}
@font-face{
    font-family: cart;
    src: url(assets/fonts/RedHatText-VariableFont_wght.ttf);
}
@font-face{
    font-family: map;
    src: url(./assets/fonts/RedHatText-Italic-VariableFont_wght.ttf)
}

.container{
    font-family: cart;
}
.sub-container{
    display:flex;
    gap:30px;

}
img{
    width:300px;
    height:auto;
}