*{
    margin:o;
    padding:0;
    box-sizing: border-box;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
}
.sub-container{
    display:flex;
    gap:30px;

}
img{
    width:300px;
    height:auto;
}