*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@font-face{
    font-family: cart;
    src: url(assets/fonts/RedHatText-VariableFont_wght.ttf);
}
@font-face{
    font-family: map;
    src: url(./assets/fonts/RedHatText-Italic-VariableFont_wght.ttf)
}

.container{
    font-family: cart;
}
.sub-container{
    float:left; 

}
.row{
    display: flex;
     gap:30px; 
}
img{
    width:300px;
    height:auto;
    border-radius: 10px;
    
}
img:hover{
    border:3px solid rgb(211, 108, 11);
}
p{
    color:grey;
}
 button{
    background-color: white;
    width:60px;
    height:auto;
    padding: 10px 20px;
    border-radius:40px;
    border:1px solid gray;
    position:absolute;
    bottom:-5px;
    left:143px;
    
}
.badge{
    position:relative;
    
}